---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lo has roto💔">
    <main
        class="w-auto m-auto min-h-screen grid place-content-center text-center bg-indigo-700"
    >
        <h1 class="text-4xl font-black uppercase text-center py-5 text-white">
            404. Lo has roto
        </h1>
        <img class="text-center"
            src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExd2Y5bDhkdHEydXowanA1M2pjN2hibW11YTEyOHg3YnQzdGxveHpubSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/13n7XeyIXEIrbG/source.gif"
            alt=""
        />
    </main>
</Layout>