---
import ListOfGames from '../components/ListOfGames.astro'
---

<main class="flex justify-center items-center gap-4 mt-14 flex-col">
  <h1 class="text-3xl text-white font-black underline">
    Los Videojuegos Mas Vendidos De La Historia
  </h1>
  <ListOfGames/>
</main>
